<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/home.css">
    <script src="../js/home.js"></script>
    <title>Home</title>
</head>
<body>
<nav id="navbar">
    <h1>My website</h1>
    <ul>
        <li id="logout"><img src="../images/power.png" alt="logout-button"></li>
    </ul>
</nav>
<div id="projects-container">
    <div class="row">
        <div class="content">
            <img src="../images/check-list.png" alt="todo-image"
                 id="check-list-img">
        </div>
        <div class="content">
            <img src="../images/coming-soon.png" alt="coming-soon-image"
                 class="coming-soon-img">
        </div>
    </div>
    <div class="row">
        <div class="content">
            <img src="../images/coming-soon.png" alt="coming-soon-image"
                 class="coming-soon-img">
        </div>
        <div class="content">
            <img src="../images/coming-soon.png" alt="coming-soon-image"
                 class="coming-soon-img">
        </div>
    </div>
    <footer id="footer">
        <p>&copy; 2023 Matteo Fredi</p>
    </footer>
</div>
</body>
</html>