<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link type="text/css" href="{{ request.url_for('static', path='css/login-form.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ request.url_for('static', path='images/favicon-32x32.png') }}">
    <script type="text/javascript" src="{{ request.url_for('static', path='js/login-form.js') }}"></script>
    <title>Login</title>
</head>
<body>
<form method="post">
    <img src="{{ request.url_for('static', path='images/hacker.png') }}">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Login" class="submit-button">
</form>
<div id="error-message">
    <p>Invalid username or password</p>
    <button id="retry-button">Retry</button>
</div>
</body>
</html>